body {
    color: black;
    /* font-family: 'DynaPuff'; */
    /* font-family: 'Titan One'; */
    font-family: 'Roboto Condensed';
    font-weight: 300;
    font-size: 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #dadff7;
    background-image: linear-gradient(120deg, #dbd9e2, #b6b4d3);
}

body>header {
    background-color: #dadff7;
    background-image: linear-gradient(178deg, #8b86ca, #b5b0cc);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

body>main {
    padding-top: 100px !important;
    padding-bottom: 100px !important;
    padding-right: 5% !important;
    padding-left: 5% !important;
}

body>footer {
    background-color: #232533;
    background-image: linear-gradient(172deg, #7d7699, #3f3b55);
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    z-index: 4;
}

a {
    text-decoration: none;
}

ol,
ul {
    list-style: none;
}

.navbar-nav {
    align-items: center;
    /* Add this line */
}

.navbar-nav h1,
.navbar-nav h2 {
    margin: 0;
    padding: 0;
    line-height: inherit;
    /* display: inline-block;  */
    vertical-align: middle;
}

.homepage-category-image {
    width: 300px;
    /* Set the desired width */
    /* height: 200px; */
    /* Set the desired height */
    object-fit: cover;
    /* Crop the image to fit within the box */
    margin: 0 auto;
    /* Center the image horizontally */
}

.article-image {
    width: 100%;
    /* Ensure images take up the full width of the card */
    height: 300px;
    /* Fixed height */
    object-fit: cover;
    /* Crops the image to fit within the width and height */
}

.card {
    border-radius: 10px;
    /* Rounded corners for the card */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Adding a subtle shadow */
}

.card-title {
    font-size: 2.5rem;
    /* Increase size of the order title */
}

.card-body {
    display: flex;
    flex-direction: column;
    /* Stack items vertically */
}

.list-group-item {
    display: flex;
    /* Flex layout for image and text */
    align-items: center;
    /* Center vertically */
    padding: 15px;
    /* Add some padding */
}

.bestseller-image {
    height: 100% !important;
    width: auto;
    /* Set the height to one-third of the viewport height */
    object-fit: cover;
    /* Ensure the image covers the area without stretching */
    border-radius: 8px;
    /* Optional: rounded corners */
    /* Optional: border around the image */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* The side navigation menu */
.sidenav {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 3;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    background-color: #dadff7;
    background-image: linear-gradient(178deg, #b1c1d8, #86809c);
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 120px !important;
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
    border-top-right-radius: 120px;
    border-bottom-right-radius: 20px;
}

.searchBar {
    width: 100%;
    height: 0;
    position: fixed;
    /* Stay in place */
    z-index: 3;
    /* Stay on top */
    top: 0px;
    /* Stay at the top */
    background-color: #dadff7;
    background-image: linear-gradient(178deg, #c3bfd1, #c4c0f0);
    /* Black*/
    overflow-y: hidden;
    /* Disable horizontal scroll */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
    border-bottom-right-radius: 18px;
    border-bottom-left-radius: 18px;
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: inherit;
}

.searchBar form {
    width: 90%;
    max-width: 600px;
    display: flex;
    gap: 10px;
}

.searchBar input {
    flex-grow: 1;
    border-radius: 18px;
    border: 1px solid hsl(246, 17%, 50%);
    padding: 8px 12px;
    font-size: 16px;
    font-family: inherit;
}

.searchBar button {
    width: auto;
    padding: 8px 16px;
    border-radius: 8px;
    border: 2px solid hsl(246, 17%, 50%);
    transition-duration: 0.4s;
    color: black;
    font-family: inherit;
    font-size: 16px;
}

.clickable {
    background-color: rgb(110, 106, 149) !important;
    color: rgb(218, 218, 230) !important;
}

.clickable:hover {
    background-color: rgb(208, 208, 226) !important;
    color: rgb(55, 52, 71) !important;
    transition-duration: 0.3s;
}

input[type=radio],
input[type=checkbox] {
    background-color: rgb(232, 232, 241) !important;
    border-color: rgb(110, 106, 149) !important;
}

input[type=radio]:checked,
input[type=checkbox]:checked {
    background-color: rgb(110, 106, 149) !important;
}

input[type=range]::-webkit-slider-thumb {
    background-color: rgb(110, 106, 149) !important;
}

input[type=range]::-moz-range-thumb {
    background-color: rgb(110, 106, 149) !important;
}

input[type=range]::-ms-range-thumb {
    background-color: rgb(110, 106, 149) !important;
}

.searchBar button:hover {
    color: white;
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 2px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
}

/*
.searchBar form,
.searchBar a {
    margin-top: 5px;
    color: #818181;
    transition: 0.3s;
}
*/

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

.searchBar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}

.clickable {
    cursor: pointer;
}

.sidenav h2 a {
    white-space: nowrap;
    margin-left: 0;
    padding-left: 0;
}


.singleProduct-image {
    width: 100%;
    /* Image takes full width of its container */
    max-width: 300px;
    /* You can increase this value to make the image larger */
    height: auto;
    /* Keep the aspect ratio */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 100%;
}

.logo-image {
    width: 50px;
    height: 50px;
    box-shadow: none !important;
}

.card img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(1);
}

.carousel-indicators {
    bottom: -30px;
}



.adminArticleActions img {
    max-width: 100px;
}

.articlePageDescContainer {
    width: 100%;
    max-width: 800px;
}

.modifyArticleSection {
    max-width: 800px;
}

.modifyArticleSection img {
    max-width: 200px;
    border-radius: 8px;
}

.cartDescription form {
    max-width: 500px;
}

.deliveryInfoContainer {
    width: 100%;
}

.userInfoContainer {
    max-width: 600px;
}

.aboutUsContainer {
    width: 100%;
    max-width: 100%;
}

.cartArticleCard img {
    height: 200px;
    object-fit: cover;
}

.cartArticleCard label {
    line-height: 2.5;
}

.cartArticleCard button {
    width: 120px;
}

.cartArticleCard form input {
    width: 80px;
    font-size: 1.2rem;
    height: auto;
}

.articlesInCart {
    padding-left: 0;
}

.nav-link img {
    width: 30px;
    height: 24px;
    display: inline;
    transition-duration: 0.4s;
}

.nav-link img:nth-child(2) {
    display: none;
}

.nav-link:hover {
    color: white;
}

.nav-link:hover img:nth-child(1) {
    display: none;
}

.nav-link:hover img:nth-child(2) {
    display: block;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

@media screen and (max-width: 768px) {
    body {
        font-size: 97%;
    }

    h2 {
        font-size: calc(1rem + .9vw);
    }

    .card-title {
        font-size: 1.75rem;
    }

    .card-text {
        font-size: 90%;
    }

    .adminArticleActions li {
        width: 50%;
    }

    .col-12 {
        width: 50%;
    }
}

@media screen and (min-width: 768px) {

    .carousel-control-prev {
        left: 20%;
    }

    .carousel-control-next {
        right: 20%;
    }

}