body {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}

nav>ul {
    list-style: none;
}

/* header>nav>ul>li,
header>nav>ul>li>a>h1 {
    display: inline;
} */

.navbar-nav {
    align-items: center;
    /* Add this line */
}

.navbar-nav h1,
.navbar-nav h2 {
    margin: 0;
    padding: 0;
    line-height: inherit;
    /* display: inline-block;  */
    vertical-align: middle;
}

img {
    max-height: 200px;
}

footer img {
    max-height: 20px;
}

footer p {
    margin: 0;
}