body {
    color: black;
    /* font-family: 'DynaPuff'; */
    /* font-family: 'Titan One'; */
    font-family: 'Roboto Condensed';
    font-weight: 300;
    font-size: 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

nav>ul {
    list-style: none;
}

ol,
ul {
    list-style: none;
}

/* header>nav>ul>li,
header>nav>ul>li>a>h1 {
    display: inline;
} */

.navbar-nav {
    align-items: center;
    /* Add this line */
}

.navbar-nav h1,
.navbar-nav h2 {
    margin: 0;
    padding: 0;
    line-height: inherit;
    /* display: inline-block;  */
    vertical-align: middle;
}

/* img {
    max-height: 400px;
} */

.category-image {
    width: 300px;
    /* Set the desired width */
    height: 200px;
    /* Set the desired height */
    object-fit: cover;
    /* Crop the image to fit within the box */
    margin: 0 auto;
    /* Center the image horizontally */
}